*{
	box-sizing: border-box;
}

header{
	display:block;
	margin:0 auto;
	width:100%;
	text-align:center;
}

body{
	font-family:Arial,Microsoft Yahei;
	background-color: rgba(240, 240, 210, 0.6);
}

header h1{
	font-family:Arial;
}

header p{
	font-weight:bold;
	font-size:22px;
}

header #newgame{
	text-decoration:none;
	color:white;
	background-color:#C5B883;
	padding:10px 20px;
	border-radius:10px;
	z-index: 100000;
}

header #newgame:hover{
	background-color:#B4A569;
}
#score{
	color:red;
}
#grid-container{
	z-index: 0;
	position: absolute;
	background-color:#bbada0;
	border-radius:10px;	
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grid-cell{
	z-index:-1;
	width:100px;
	height:100px;
	border-radius:6px;
	background-color:#ccc0b3;
	position:absolute;
}
.number-cell{
	z-index:-1;
	font-weight:bold;
	line-height:100px;
	border-radius:6px;
	text-align:center;
	position:absolute;
	background-size:cover;
}
.dialog-success{
    position: absolute;
	width: 100%;
    left: 0;
	background: none repeat scroll 0% 0% rgba(221, 211, 194, 1);
	line-height:50px;
	border-radius: 15px;
	text-align:center;
}
.dialog-fail{
	position: absolute;
	width: 100%;
    left: 0;
	background: none repeat scroll 0% 0% rgba(221, 211, 194, 1);
	line-height:50px;
	border-radius: 15px;
	text-align:center;
}

.success{
	font-size:21px;	
	font-family:Microsoft Yahei;
}
.fail{
	font-size:21px;	
	font-family:Microsoft Yahei;
}
#newgame{
	text-decoration:none;
	color:white;
	background-color:#C5B883;
	padding:10px 20px;
	border-radius:10px;
}
#continue{
	text-decoration:none;
	color:white;
	background-color:#C5B883;
	padding:10px 20px;
	border-radius:10px;
}

#shell{
    position: absolute;
    top: 0;
    left: 0;
	opacity:0.1;
    height: 100%;
    width: 100%;
    z-index: 99999;
}