*{
	box-sizing: border-box;
}

header{
	display:block;
	margin:0 auto;
	margin-top:80px;
	width:100%;
	text-align:center;
}

body{
	font-family:Arial,Microsoft Yahei;
	background-color: rgba(240, 240, 210, 0.6);
	background-size: cover;
	background-image:url(../img/bg.jpg);
}

header h1{
	font-family:Arial;
	color:white;
}

header h2{
	color:white;
}

header #newgame{
	text-decoration:none;
	color:white;
	background-color:#51bbbb;
	padding:10px 20px;
	border-radius:10px;
	z-index: 100000;
}

header #newgame:hover{
	background-color:#B4A569;
}
#score{
	font-weight:bold;
	color:red;
}
#grid-container{
	z-index: 0;
	position: absolute;
	background-color:#ffffff;
	border-radius:10px;	
    top: 380px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grid-cell{
	z-index:-1;
	width:100px;
	height:100px;
	border-radius:6px;
	background-color:#ffc6d7;
	position:absolute;
}
.number-cell{
	z-index:-1;
	font-weight:bold;
	line-height:100px;
	border-radius:6px;
	text-align:center;
	position:absolute;
	background-size:cover;
}
.dialog-success{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: none repeat scroll 0% 0% rgb(0, 0, 0, 0.9);
    line-height: 50px;
    text-align: center;
}
.dialog-fail{
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: none repeat scroll 0% 0% rgb(0, 0, 0, 0.9);
    line-height: 50px;
    text-align: center;
}

.success{
	    margin-top: 50%;
	font-size:21px;	
	color:white;
	font-family:Microsoft Yahei;
}
.fail{
	margin-top: 50%;
	color:white;
	font-size:21px;	
	font-family:Microsoft Yahei;
}
#newgame{
	text-decoration:none;
	color:white;
	background-color:#51bbbb;
	padding:10px 20px;
	border-radius:10px;
}
#continue{
	text-decoration:none;
	color:white;
	background-color:#51bbbb;
	padding:10px 20px;
	border-radius:10px;
}

#shell{
    position: absolute;
    top: 0;
    left: 0;
	opacity:0.1;
    height: 100%;
    width: 100%;
    z-index: 99999;
}